header{
    position: sticky;
    top: 0;
    background: rgb(240,238,221);
    background: radial-gradient(circle, rgba(240,238,221,1) 28%, rgba(210,219,210,1) 74%);
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(206, 204, 204);
    .navegacion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            font-size: 22px;
            background-color: transparent;
            border: none;
        }
    }
}
.oculto{
    display: none;
}
.visible{
    display: flex;
}
.breadcrumb{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    padding: 20px 0px 0px 0px;
    display: flex;
    gap: 10px;
}


.hero{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .texto{
        width: 90%;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        h1{
            font-size: 2rem;
        }
        .botones{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            a{
                background-color: white;
                cursor: pointer;
                padding: 10px 18px;
                border-radius: 8px;
                border: none;
            }
        }
    }
    img{
        border-radius: 10px;
        width: 70%;
    }
}

.galeria{
    max-width: 90%;
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    img{
        border-radius: 10px;
        width: 100%;
    }
}

.shop{
    padding: 20px;
    .productos{
        margin: 20px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        .producto{
            padding: 5px;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            img{
                border-radius: 10px;
                width: 90%;
            }
            h3{
                letter-spacing: 1px;
                font-size: 1.3rem;
                font-weight: 400;
            }
        }
    }
}

.nosotros{
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .texto{
        h2{
            margin-bottom: 20px;
        }
    }
    img{
        border-radius: 10px;
    }
}

footer{
    background: transparent;
    border-top: 1px solid #2530254b;
    padding: 20px 0px;
    .pie{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .derechos{
            span{
                font-size: 18px;
                text-align: center;
            }
        }
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            img{
                width: 10%;
            }
        }
        .redes{
            display: flex;
            gap: 15px;
            font-size: 22px;
        }
    }
}

.filters{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    select{
        padding: 5px;
        border-radius: 5px;
        background-color: #253025;
        color: white;
    }
    button{
        background-color: #253025;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
    }
}

#blog{
    margin: 20px 0px;
    padding: 0px 10px;
    .blog{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        .post{
            border: 1px solid #363b366e;
            border-radius: 10px;
            padding: 20px;
            .post-header{
                margin-bottom: 10px;
                span{
                    font-size: 14px;
                }
            }
            p{
                margin: 10px 0px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
            }
            a{
                text-decoration: underline;
                color: green;
            }
        }
    }
}

#contacto{
    margin: 20px 0px 40px 0px;
    padding: 0px 20px;
    .contacto{
        display: flex;
        flex-direction: column;
        .form{
            h2{
                margin-bottom: 10px;
            }
            .forma{
                margin: 20px 0px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                input, textarea{
                    border: 1px solid #253025;
                    border-radius: 8px;
                    padding: 8px 10px;
                }
                button{
                    border: none;
                    background-color: #253025;
                    color: white;
                    border-radius: 8px;
                    font-size: 16px;
                    padding: 10px 10px;
                }
            }
        }
        .mapa{
            iframe{
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}

.navs{
    position: absolute;
    top: 58px;
    left: 0;
    background-color: #253025;
    width: 100%;
    z-index: 100;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        a{
            color: white;
            letter-spacing: 2px;
        }
    }
    input{
        border: solid 1px white;
        color: white;
        border-radius: 8px;
        padding: 8px 10px;
        font-size: 16px;
        background-color: transparent;
    }
}

@media (min-width: 576px) {
    .hero{
        justify-content: space-evenly;
        flex-direction: row;
        img{
            width: 30%;
        }
        .texto{
            width: 40%;
        }
    }
    .shop{
        .productos{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .nosotros{
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .texto{
            width: 50%;
        }
        img{
            width: 50%;
        }
    }
    footer{
        .pie{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width: 768px) {
    .oculto{
        display: flex;
    }
    .shop{
        .productos{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .navegacion{
        button{
            display: none;
        }
        .navs{
            padding: 0;
            position: static;
            background-color: transparent;
            justify-content: end;
            flex-direction: row;
            ul{
                flex-direction: row;
                a{
                    color: black;
                    letter-spacing: 1px;
                }
            }
            input{
                border: solid 1px #253025;
                color: black;
            }
        }
    }
    #contacto{
        .contacto{
            flex-direction: row-reverse;
            gap: 40px;
            .mapa{
                width: 70%;
                iframe{
                    height: 100%;
                }
            }
        }
    }
    #blog{
        .blog{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (min-width: 992px) {
    .shop{
        .productos{
            grid-template-columns: repeat(6, 1fr);
        }
    }
    .nosotros{
        width: 80%;
        img{
            width: 30%;
        }
    }
    #blog{
        .blog{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}