@font-face {
    font-family: MuseoSansRounded;
    src: 
    url('./font/MuseoSansRounded100.otf'),
    url('./font/MuseoSansRounded300.otf'),
    url('./font/MuseoSansRounded500.otf'),
    url('./font/MuseoSansRounded700.otf'),
    url('./font/MuseoSansRounded900.otf'),
    url('./font/MuseoSansRounded1000.otf')
    ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: MuseoSansRounded;
    scroll-behavior: smooth;
    scroll-margin-top: 20ex;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background: rgb(240,238,221);
    background: radial-gradient(circle, rgba(240,238,221,1) 28%, rgba(210,219,210,1) 74%);
}